.borderNav{
  width: 100%;
  border-bottom: solid;
}

.navStyle {
  width: 90%;
  min-height: 12vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

.navbar {
   display: flex;
   justify-content: space-between;
  width: 100%;
  
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 20%;
}

.navbar li {
  font-size: 1.5rem;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #ffd700;
}
